
<link rel="stylesheet" href="/css/profile.css">
<link rel="stylesheet" href="/css/home.css">

<div class="profile-page">
    
    <div class="profile-details">
        <div class="dummy"></div>
        <% if(profile_user.avatar){%>
            <img src="<%=profile_user.avatar%>" alt="No profile pic" class="my_img">
        <%}else{%>
            <img src="/images/profile.svg" alt="No profile pic" class="my_img">        
        <%}%>
        <p style="margin-top:5px"><%=profile_user.user_name%></p>
        <% if(locals.user && profile_user.id!=user.id){%>
            <% if(locals.user.friends.includes(profile_user.id)){%>
                <a href="/user/togg-friend/?id=<%=profile_user.id%>" class="toggle-friend-button">Remove Friend</a>        
            <%}else{%>
                <a href="/user/togg-friend/?id=<%=profile_user.id%>" class="toggle-friend-button">Add Friend</a>        
            <%}%>
        <%}%>
        <div class="links">
            <% if(profile_user.fb){%>
                <a href="https://www.facebook.com/<%=profile_user.fb%>"><i class="fab fa-facebook-square"></i></a>
            <%}%>
             <% if(profile_user.linked){%>
                <a href="https://www.linkedin.com/in/<%=profile_user.linked%>"><i class="fab fa-linkedin"></i></a>
            <%}%>
            <% if(profile_user.twitter){%>
                <a href="https://twitter.com/<%=profile_user.twitter%>"><i class="fab fa-twitter"></i></a>
            <%}%>

            <% if(profile_user.insta){%>
                <a href="https://www.instagram.com/<%=profile_user.insta%>"><i class="fab fa-instagram"></i></a>
            <%}%>

        </div>
        
        

    </div>
    
    <% if(locals.user && profile_user.id==user.id){%>
        <div class="edit-details">
            
            <form class="update-form" action="/user/update-profile/<%=profile_user.id%>" method="POST" enctype="multipart/form-data">
                <h2>Edit details</h2>
                <div>
                    <label for="user_name"><i class="fas fa-signature"></i>&ensp; </label>
                    <input type="text" id="user_name" name="user_name" placeholder="Type new name" value="<%=profile_user.user_name%>" required>    
                </div>
                <div>
                    <label for="email"><i class="fas fa-envelope"></i>&ensp; </label>
                    <input type="email" id="email" name="email" placeholder="Type new email" value="<%=profile_user.email%>" required> 
                </div>
                <div>
                    <label for="image"><i class="fas fa-user"></i> &ensp;</label>
                    <input class="file-input" id="image" type="file" name="avatar" placeholder="Profile Picture">    
                </div>
                <h2>Links</h2>
                <div>
                    <label><i class="fab fa-facebook-square"></i>&ensp; facebook.com/</label>
                    
                    <input type="text" id="fb" name="fb" placeholder="Facebook Handle" value="<%=profile_user.fb%>">
                </div>
                <div>
                    <label for="li"><i class="fab fa-linkedin"></i>&ensp; linkedin.com/in/</label>
                    <input type="text" id="li" name="linked" placeholder="Linked In Handle" value="<%=profile_user.linked%>">
                </div>
                
                <div>
                    <label for="twitter"><i class="fab fa-twitter"></i>&ensp; twitter.com/</label>
                    <input type="text" id="twitter" name="twitter" placeholder="Twitter Handle" value="<%=profile_user.twitter%>">
                </div>
                <div>
                    <label for="insta"><i class="fab fa-instagram"></i>&ensp; instagram.com/</label>
                    <input type="text" id="insta" name="insta" placeholder="Instagram Handle" value="<%=profile_user.insta%>">
                </div>
                

                <button class="submit" type="submit">Update</button>
            </form>    
        </div>
        
    
    <%}%>
    

</div>
<h1 style="text-align: center;margin-top:5%;">All Posts of <%=profile_user.user_name%></h1>
    <div id="container" style="text-align: center ;">
        
        <section id="feed" style="margin:0px">
            <div id="posts-list-container">
                <ul>
                    <% for(post of posts){ %>
                        <%if(!locals.user || !(post.hidden.includes(locals.user._id))){%>
                            <%- include('_post'); -%>
                        <%}%>
                    <%}%>
                </ul>
            </div>
            
        </section>
        
        
    </div>


<script src="/js/friendship.js"></script>
<script src="/js/post_comments.js"></script>
<script src="/js/home_posts.js"></script>

<script src="/js/toggle_like.js"></script>

<script>
    $('.toggle-friend-button').each(function(){
        let self=this;
        let toggleFriend=new ToggleFriend(self);
    });
</script>

<script>
    $('.toggle-like-button').each(function(){
        let self=this;
        let toggleLike=new ToggleLike(self);
    });
</script>